.App, body {
  text-align: center;
  background: #eaeaea;
}

#show-container {

  padding-top: 1%;
}

.detail, .episode, .favorites {
  background: white;
  border: 2px solid grey;
}

#top-of-page {
  margin: 2%;
  display: grid;
  grid-template-columns: 25% 73%;
  grid-column-gap: 2%;
  background-color:
}

#bottom-of-page {
  margin: 2%;
  background: #eaeff9;
  border: 2px solid grey;
}

#episode-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 2%;
  justify-content: space-around;
  margin-top: 1%;
}

.episode {
  margin-bottom: 3%;
  border-radius: 5px;

}

img {
  margin: 1%;
}

.detail p, li {
  text-align: left
}

.detail {
  padding-left: 1%;
}

.favorites, .detail {
  border-radius: 5px;

}
button {
  margin-bottom: 1%;
}
